.pnl_score {
  display: flex;
  flex-direction: column;
  width: 120%; /* Use percentage for responsiveness */
  max-width: 1200px; /* Optional max-width for larger screens */
  background: #FBFBFB;
  box-shadow: 7px 7px 10px #0000000A;
  border-radius: 20px;
  opacity: 1;
  box-sizing: border-box;
  margin-top: 75%;
  font-size: larger;
  font-weight: 500;
  padding: 5%;
  margin-left: 160% !important;
  display: none;
}

.score_section{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 10px; /* space between grid items */
}

.left_content{
  text-align: right;
}

.right_content{
  text-align: left;
}

.note {
  margin-left: 25rem !important ;
}

.headers {
  margin-top: 8rem ;
  margin-left: 31rem ;
}

.chatContainer {
  display: flex;
  flex-direction: column ;
  align-items: center ;
  width: 600px ;
  height: 40rem ;
  margin: 20px auto ;
  border: 1px solid #ddd ;
  border-radius: 8px ;
  padding: 20px ;
  margin-left: 40%;
}

.chatBox {
  display: flex ;
  flex-direction: column ;
  width: 100% ;
  height: 30rem ;
  overflow-y: scroll ;
  margin-bottom: 10px ;
  padding: 10px ;
  border: 1px solid #ddd ;
  border-radius: 8px ;
} 

.message {
  max-width: 80% ;
  padding: 10px ;
  margin: 5px 0 ;
  border-radius: 8px ;
} 

.input {
  width: 100% ;
  height: 55px ;
  resize: none ;
  padding: 10px ;
  border: 1px solid #ddd ;
  border-radius: 8px ;
}

.sendButton {
  width: 150px ;
  height: 40px ;
  padding: 10px 20px ;
  margin-top: 10px ;
  background-color: #5F249F ;
  color: #fff ;
  border: none ;
  border-radius: 10px ;
  cursor: pointer ;
}

.endButton {
  width: 150px ;
  height: 40px ;
  padding: 10px 20px ;
  margin-top: 10px ;
  background-color: #63666A ;
  color: #fff ;
  border: none ;
  border-radius: 10px ;
  cursor: pointer ;
  margin-right: 10px ;
}

.dropDown {
  padding: 10px 20px ;
  margin-bottom:9px ;
  background-color: #fff ;
  color: #000 ;
  border: solid 1px ;
  border-radius: 8px ;
  cursor: pointer ;
}

.home-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .home-button {
    padding: 0.5rem 1rem;
    font: normal normal normal 1rem/1.5 Open Sans, sans-serif;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #5F249F;
  }
  
  .home-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.45);
  }