.question_span{
  font: normal normal 16px/27px Open Sans, sans-serif;
}

.voicetest_textarea_div{

}
.voicetest_textarea{
  width: 48vw;
  height: 28vh;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  box-shadow: 3px 3px 6px #00000029;
  border-radius: 11px;
}

.voicetest_instructions{
  font: normal normal 16px/27px Open Sans, sans-serif;
}

.voicetest_buttons{
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
}

.clear_button{
  background-color:#5F249F; /* Green background */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 10px; /* Rounded corners */
  width: 200px;
  height: 50px;
  font: normal normal normal 16px/27px Open Sans, sans-serif;
}

.submit_button{
  background-color:#5F249F; /* Green background */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 10px; /* Rounded corners */
  width: 200px;
  height: 50px;
  font: normal normal normal 16px/27px Open Sans, sans-serif;
}

.remove_button{
  background-color:#5F249F; /* Green background */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 10px; /* Rounded corners */
  width: 200px;
  height: 50px;
  font: normal normal normal 16px/27px Open Sans, sans-serif;
}

.mic_button {
    background-color:#5F249F; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 10px; /* Rounded corners */
    width: 200px;
    height: 50px;
    font: normal normal normal 16px/27px Open Sans, sans-serif;
}

 .mic_button:disabled {
    background-color: #ccc; /* Grey background when disabled */
    cursor: not-allowed; /* Change cursor to indicate disabled */
 }
  
 .exam_note{
  font: normal normal normal 16px/27px Open Sans, sans-serif;
  padding-top: 20px;
}